.work {
   .mat-tab-label {
        font-weight: bolder ;
        margin-bottom: 2%;
    }
    .mat-ink-bar {
        background-color: $color-darking !important;
        height: 3px; 
    }
    .mat-tab-label-active {
        color: $color-darking;
    }
}
