    .contact {
        margin: 3% 0;
        .mat-form-field {
            width: 100%;
        }
        textarea {  
            height: 100px;
        }
        button {
            padding: 12px 24px;
            margin: 3% 0;
        }
    }
