<div class="contact">

  <h1 class="headline">
    Ready to make big changes?
    <h3 class="sub-text">
      Get in touch
    </h3>
  </h1>

  <div class="contact__body">

    <div class="contact__body--1">

      <div class="contact__body--1__reach">

        <div class="contact__body--1__reach--ing">
          <p class="sub-text">General enquiries</p>
          <!--#INCOMPLETE# -> Change to correct Wevative email -->
          <h4>hello@wevative.com</h4>
          <!--#INCOMPLETE# -> Add a wevative phone number -->
          <h4>+44 (0)201 234 5678</h4>
        </div>

        <div class="contact__body--1__reach--ing">
          <p class="sub-text">New business</p>
          <!--#INCOMPLETE# -> Change Wevative email-->
          <h4>newbiz@wevative.com</h4>
        </div>

      </div>

      <h1>Get in touch</h1>
      <p class="sub-text">
        Fill in the form, or, if you prefer,
        <!--#INCOMPLETE# -> Replace email link -->
        <a href="mailto:someone@example.com?Subject=Potential%20project" target="_top">
          send us an email
        </a>
      </p>

      <app-contact-form></app-contact-form>

    </div>

    <div class="contact__body--2">
      <div class="contact__body--2__img-tile" *ngFor="let image of images">
        <img src="{{ image }}" alt="" />
      </div>
    </div>

  </div>
</div>