<div class="contact">
  <div class="landing__dash"></div>
  <!-- #FEATURE# -> Hello in different langauges : text animation -->
  <h1 class="landing__headline">Hello. We’ve been expecting you.
    <h4>We would love to hear about your project. Let's give it and you all possible chance of success.
    </h4>
  </h1>

  <div class="contact__body">
    <div class="contact__body--1">
      <div class="contact__body--1__reach">
        <div class="contact__body--1__reach--ing">
          <p>General enquiries</p>
          <!--#INCOMPLETE# -> Change Wevative email-->
          <h3>wevative@wevative.com</h3>
          <!--#INCOMPLETE# -> Add a wevative phone number-->
          <h3>Phone number</h3>
        </div>
        <div class="contact__body--1__reach--ing">
          <p>New business</p>
          <!--#INCOMPLETE# -> Change Wevative email-->
          <h3>wevative@wevative.com</h3>
        </div>
      </div>
      <h1>Get in touch</h1>
      <p class="sub-text">
        Fill in the form, or, if you prefer, 
        <!--#INCOMPLETE# -> Replace email link -->
        <a href="mailto:someone@example.com?Subject=Potential%20project" target="_top">send us an email</a>
      </p>
      <app-contact-form></app-contact-form>
    </div>

    <div class="contact__body--2">

    </div>
  </div>
</div>