<div class="contact">
  <div class="landing__dash"></div>
  <h1 class="landing__headline">Hello! Been expecting you
    <h4>We would love to hear about your project. Let's give it and you all possible chance of success.

    </h4>
  </h1>

  <div class="contact__body">
    <div class="contact__body--1">
      <div class="contact__body--1__reach">
        <div class="contact__body--1__reach--ing">
          <p>General enquiries</p>
          <!--#INCOMPLETE# -> Change Wevative email-->
          <h3>wevative@wevative.com</h3>
          <!--#INCOMPLETE# -> Add a wevative phone number-->
          <h3>Phone number</h3>
        </div>
        <div class="contact__body--1__reach--ing">
          <p>New business</p>
          <!--#INCOMPLETE# -> Change Wevative email-->
          <h3>wevative@wevative.com</h3>
        </div>
      </div>
      <app-contact-form></app-contact-form>
    </div>

    <div class="contact__body--2">

    </div>
  </div>
</div>
<!--#
ToDo:
-----
|-- [ ] Form   
    |-- Get design 
    |-- Add proper form functionalities
    |-- Add design
|-- Add office picture
|-- Insert Map
#-->