// Mobile
@media only screen and (min-width: 320px) {}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop
@media only screen and (min-width: 1280px) {}

.join-us {
    &__gen-join {
        color: $color-white;
        background-color: $color-darking;
        padding: 5%;
        h4 {
            width: 60%;
            margin: 3% 0;
        }
        button {
            padding: 12px 24px;
        }    
    }
}