<div class="footer">

  <!-- Strat of -> Footer header -->
  <div class="footer__header">
    <div class="footer__header__stamp">
      <a href="">
        <img src="{{ grayLogoPath }}" alt="Wevative grayed logo" />
      </a>
      <br />
      <p>all out creativity.</p>
    </div>
    <p class="footer__header__stamp__description">
      We create digital experiences that help brands and creative individuals compete in an era of changing customers,
      competitors and technology.
      <br />
      <!-- [INCOMPLETE] -> Wevative email -->
      <a class="footer__header__stamp__link" href="mailto:@wevative.com?Subject=Hello%20Wevative," target="_top">@wevative.co.uk</a>
    </p>
  </div>
  <!-- End of -> Footer header -->

  <!-- Start of -> Content List -->
  <div class="footer__content">
    <div class="footer__content__section--lg"></div>
    <div class="footer__content__section">
      <!-- [INCOMPLETE] -> Fill content -->
      <div class="footer__content__section__row">
        <span>Office</span>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <!-- [INCOMPLETE] -> Fill content -->
      <div class="footer__content__section__row">
        <span>Contact Us</span>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
    </div>

    <div class="footer__content__section">
      <!-- [INCOMPLETE] -> Fill content -->
      <div class="footer__content__section__row">
        <span>Work</span>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
      <!-- [INCOMPLETE] -> Fill content -->
      <div class="footer__content__section__row">
        <span>Connect</span>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of -> Content List -->

  <!-- Copyright -> -->
  <div class="footer__copyright">
    <p> ©2018 Wevative Inc.
      <br />
      All rights reserved.
    </p>

    <div class="footer__copyright__links--wrapper">
      <a class="footer__copyright__link" routerLink="terms">terms & conditions</a>
      <a class="footer__copyright__link" routerLink="privacy"> privacy policy</a>
    </div>
  </div>
  <!-- End of Copyright -->
</div>

<!--#
ToDo:
-----
[1] Get wevative email address and update link 
[2] Fill in 4 section 
  |-- Office(address)
  |-- Start a conversation(our general email) 
  |-- Basic sites(sample work) 
  |-- Social(social media links)
#-->