<div class="home">
  <div class="home__dash"></div>
  <h1 class="home__headline"><b>We're Wevative.</b> A design, technology and ideas company</h1>

  <!-- Component -> Recent work -->
  <app-recent-work></app-recent-work>

  <!-- Component -> Get in touch -->
  <div class="in-touch">
    <h6 class="in-touch__header">get in touch</h6>
    <div class="in-touch__form">
      <div class="in-touch__form__heading">
        <span class="in-touch__form__heading--1">Let's create</span>
        <span class="in-touch__form__heading--2">the next</span>
        <span class="in-touch__form__heading--3">big thing</span>
        <span class="in-touch__form__heading--4">together.</span>
        <a href=""></a>
      </div>
      <div class="in-touch__form__inputs">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>