<div class="recent-works">
  <h6 class="recent-works__header">recent projects</h6>
  <div class="recent-works__flex-grid">
    <div class="col end">
      <img src="assets\images\francois-olwage-630276-unsplash.jpg" alt="">
        <h4>Client Name</h4>
        <ul>
          <li>Service 1,</li>
          <li>Service 2</li>
        </ul>
    </div>
    <div class="col start">
      <img src="assets\images\nagy-arnold-735320-unsplash.jpg" alt="">
        <h4>Client Name</h4>
        <ul>
          <li>Service 1,</li>
          <li>Service 2</li>
        </ul>
    </div>
  </div>
  <div class="recent-works__flex-grid">
      <div class="col end">
        <img src="assets\images\nik-shuliahin-423834-unsplash.jpg" alt="">
        <h4>Client Name</h4>
        <ul>
          <li>Service 1,</li>
          <li>Service 2</li>
        </ul>
      </div>
      <div class="col start">
        <img src="assets\images\will-norbury-1129612-unsplash.jpg" alt="">
          <h4>Client Name</h4>
          <ul>
            <li>Service 1,</li>
            <li>Service 2</li>
          </ul>
      </div>
    </div>
</div>