// Mobile
@media only screen and (min-width: 320px) {
    .recent-works  {
        padding: 5% 0;
        &__header {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-bottom: 5%;
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 500px;
                left: 50%;
                height: 360px;
                width: 2px;
                background-color: #e5e5e5;
            }
        }
    }
}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop
@media only screen and (min-width: 1280px) {}
