// Mobile
@media only screen and (min-width: 320px) {
  .navigation {
    padding: 4% 7.5% !important;
    background: none !important;
    a {
      display: inline-flex;
    }
    &__logo {
      height: 24px;
    }
    &__spacer {
    flex: 1 1 auto;
    }
    &__links {
      display: none;
      button {
        display: inline-block;
        font-weight: 700 !important;
        padding: 0 4.5%;
      }
    }
  } 
}
// Tablet 
@media only screen and (min-width: 768px) {
  .navigation {
    &__links {
      display: unset;
      button {}
    }
  } 
}
// Desktop 
@media only screen and (min-width: 1024px) {
  .navigation {} 
}
// Desktop
@media only screen and (min-width: 1280px) {}

