// Mobile
@media only screen and (min-width: 320px) {
  .navigation {
    padding: 4% 7.5% !important;
    background: none !important;
    margin-bottom: 5%;
    a {
      display: inline-flex;
    }
    &__logo {
      height: 24px;
    }
    &__spacer {
    flex: 1 1 auto;
    }
    &__links {
      display: none;
      button {
        display: inline-block;
        font-weight: 700 !important;
        padding: 0 0 0 8%;
        &:hover {
          color: $color-gray;
        }
      }
    }
  } 
}
// Tablet 
@media only screen and (min-width: 768px) {
  .navigation {
    &__links {
      display: inline-flex;
      flex: 1;
      justify-content: flex-end;
      button {}
    }
    &__logo {
      height: 32px;
    }
  } 
}
// Desktop 
@media only screen and (min-width: 1024px) {
  .navigation {} 
}
// Desktop
@media only screen and (min-width: 1280px) {}

