// Using variables to call colors

$color-destructive: #ff3131;
$color-bright: #ff9c00;
$color-go: #1dca7f;
$color-info: #4f87ec;
$color-white: #ffffff;
$color-light-gray: #f1f3f4;
$color-text-gray: #a3a3a3;
$color-gray: #888888;
$color-dark: #000;
$color-darking: #262626;
