// Including a theme is required
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Modules
@import "stylesheets/modules/colors";
@import "stylesheets/modules/utility";

// Partials
@import "stylesheets/partials/reset";
@import "stylesheets/partials/typography";
@import "stylesheets/partials/forms";
@import "stylesheets/partials/buttons";

// Pages 
@import "app/pages/home/home.component.scss"; 

// Components
@import "app/shared/components/navigation/navigation.component.scss";
@import "app/shared/components/footer/footer.component.scss";
@import "app/components/recent-work/recent-work.component.scss";
// Styles \\

// Mobile
@media only screen and (min-width: 320px) {}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop
@media only screen and (min-width: 1280px) {}

html, body {
  height: 100%;
  display: block;
}

body {
  @extend %font-shared;
  padding: 0;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
