// Mobile
@media only screen and (min-width: 320px) {
    .project-works  {
        padding: 5% 0;
        &__flex-grid {
            display: flex;
            justify-content: space-between;
            height: 600px;
            margin-bottom: 3%;
            .col {
                flex: 1;
                background-color: $color-gray;
                height: 500px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1%;
                    object-fit: cover;  
                    transition: transform 1s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                h4 {
                    padding: 3% 0 0;
                }
                ul {
                    display: flex;
                    li {
                        padding-right: 3px;
                    }
                }
            }
            .end {
                align-self: flex-end;
            }
            .start {
                align-self: flex-start;
                margin-right: 40px;
            }
        }

    }
}
// Tablet 
@media only screen and (min-width: 768px) {}
// Desktop 
@media only screen and (min-width: 1024px) {}
// Desktop
@media only screen and (min-width: 1280px) {}
