<div class="project-works">
    <div class="project-works__flex-grid">
      <div class="col start" type="button" routerLink="projects">
        <img src="assets\images\francois-olwage-630276-unsplash.jpg" alt="">
          <h4>Client Name</h4>
          <ul>
            <li>Service 1,</li>
            <li>Service 2</li>
          </ul>
      </div>
      <div class="col end" routerLink="projects">
        <img src="assets\images\nagy-arnold-735320-unsplash.jpg" alt="">
          <h4>Client Name</h4>
          <ul>
            <li>Service 1,</li>
            <li>Service 2</li>
          </ul>
      </div>
    </div>
    <div class="project-works__flex-grid">
        <div class="col start" routerLink="projects">
          <img src="assets\images\nik-shuliahin-423834-unsplash.jpg" alt="">
          <h4>Client Name</h4>
          <ul>
            <li>Service 1,</li>
            <li>Service 2</li>
          </ul>
        </div>
        <div class="col end" routerLink="projects">
          <img src="assets\images\will-norbury-1129612-unsplash.jpg" alt="">
            <h4>Client Name</h4>
            <ul>
              <li>Service 1,</li>
              <li>Service 2</li>
            </ul>
        </div>
      </div>
  </div>